*{
    margin: 0%;
    padding: 0%;
    
}
#top{
    color: rgb(36, 72, 235);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 46px;
}
#top1{
    color: black;
    text-align: center;
    font-size: 44px;
}
#navbar img{
    display:block;
    width: 50px;
    height:50px;
    margin:auto;
    margin-bottom: 3px;
}
#navbar{
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 14vh;
    width: 100vw;
    font-family: 'Ubuntu Mono', monospace;
    margin-top:10px;
   border: 2px solid black;
   border-radius:13px;
}
#navcontent{
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}
ul li a{
    padding: 1px;
    color:rgb(16, 15, 15);
    text-decoration: none;
    border-radius:10px;
}
ul li a:hover{
    background-color: rgb(61, 207, 47);
    border-radius: 12px;
    cursor: pointer;
}
#container1{
    position: relative;
    display: flex;
    flex-direction: column;
     align-items: center;
   width: 100vw;
    height:63vh;  
}
#container1::before{
    content:'';
    background: url("1.jpg.avif") no-repeat center center/cover;
    width: 100vw;
    height:59vh;
    position: absolute;
    top:0px;
    left: 0px;
    font-family: 'Ubuntu Mono', monospace;
    margin-right:45px;
    font-weight: bold;
    z-index: -1;
    opacity: 0.89;
    border: 2px solid black;
    
    border-radius: 100px;
   
}



#row1{
    padding-top: 10px;
    font-weight:bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 35px;
}
.btn{
    margin-top: 15px;
    border-radius: 6px;
   
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(78, 216, 57);
}
#container2{
    display: flex;
    justify-content: space-evenly;
}
#row2{
    width:24vw;
    height:21vh;
    box-shadow: 2px 7px 16px 19px;
     margin-top:51px;
     margin-bottom: 51px;
     display: flex;
    justify-content: center;
     align-items: flex-end;
     position: relative;
     margin-right: 38px;
     border-radius: 40px;
}
#row2::before{
    content: '';
    background: url('2.jpg.avif') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left:0px;
    width: 24vw;
    height:21vh;
    z-index: -1;
    border-radius: 40px;
}
#row3{
    position: relative;
     width: 24vw; 
    height:21vh;
    display: flex;
    justify-content: center;
     align-items: flex-end;
     box-shadow: 2px 7px 16px 19px;
     margin-top:51px;
     margin-bottom: 51px;
     
     margin-left: 38px; 
      border-radius: 40px; 
}
#row3::before{
    content: '';
    background: url('1.jpg.avif') no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    width: 24vw;
    height:21vh;
    z-index: -1;
    border-radius: 40px;
}
#top3{
    text-align: center;
    color:red;
    font-family: 'Ubuntu Mono', monospace;
}
#container3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 41px;
} 
#row4{
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    background:url('soup.jpg.jfif') no-repeat center center/cover; 
    display: flex;
    justify-content:center;
    align-items:flex-end;
    border-radius: 15px;
}
#row5{
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    background:url('pizza.jpg.avif') no-repeat center center/cover;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    border-radius: 15px;
}
#row6{
    width: 30vw;
    height: 360px;
    border: 2px solid black;
    background:url('burger.jpg.avif') no-repeat center center/cover;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    border-radius: 15px;
}

#color{
    background-color: rgb(51, 140, 199);
    text-align: center;
    color: aliceblue;
    
    
}
.display{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    background-color: rgb(51, 140, 199);
    margin-top: 2px;
    color: aliceblue;
}